
.other-ghosts {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-top: 16px;
}

// .background {
//   margin-top: 64px;
//   margin-bottom: 16px;
// }

.round {
  border-radius: 13px;
}

.text-color {
  color: black;
  text-decoration: none;
}

.title {
  font-size: 44px;
  font-weight: bold;
}

.subtitle {
  font-size: 16px;
  font-weight: 200;
  color: grey;
  margin-top: 24px;
  text-indent: 8px;
}

.line {
  border-bottom: solid 1px grey;
}

// .ghost-corners {
//   border-radius: 0px 0px 0px 0px;
// }
