.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: black;
  transition: background 0.3s ease;
  margin-left:32px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.btn-flat:hover {
  background: #36332c;
  color: white;
}

.completed-button {
  background-color: black;
  color: white;
}
